body{
    text-align: center;
    background: linear-gradient(#cc08b5 0%,#080bcc 100%)
}
img:hover{
    transform: scale(0.9)
}
.img1{
    width: 200px;
    height: 200px;
    border-style: solid;

}